#include <windows.h>
#include "resource.h"
IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 170, 210
STYLE DS_MODALFRAME | WS_POPUP | DS_CENTER| WS_CAPTION |
WS_SYSMENU
CAPTION "Client"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "+",IDC_BUTTON1,30,135,50,14
    PUSHBUTTON      "-",IDC_BUTTON2,97,135,50,14
    PUSHBUTTON      "*",IDC_BUTTON3,30,164,50,14
    PUSHBUTTON      "/",IDC_BUTTON4,97,164,50,14
    EDITTEXT        IDC_EDIT1,14,24,53,29,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2,104,24,53,29,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT3,54,78,63,24,ES_AUTOHSCROLL | ES_READONLY
END

