#include <windows.h>
#include "host_resource.h"
IDD_HOSTTEST DIALOG DISCARDABLE 0, 0, 150, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
WS_SYSMENU
CAPTION "Host"
FONT 8, "MS Sans Serif"
BEGIN
 DEFPUSHBUTTON "OK",IDOK,90,7,50,14
 PUSHBUTTON "Cancel",IDCANCEL,90,24,50,14
 PUSHBUTTON "Send",IDC_BTN1,7,30,43,15
 EDITTEXT IDC_EDIT1,7,7,77,18,ES_AUTOHSCROLL
END

